<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="v-app">
    <input type="text"><br>
    <input type="password"><br>
    <button>登陆</button>
</body>
<script src="/javascritps/vue.js"></script>
<script src="/javascripts/zepto.min.js"></script>
<scritp src="/javascripts/vue-resource.js"></scritp>
<script type="text/javascript">
    var vue = new Vue({
        data:{
            name:name,
            pwd:password
        }
    })
</script>
</html>
