<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <link rel='stylesheet' href='/stylesheets/weui.min.css'/>
    <link rel='stylesheet' href='/stylesheets/sigoup.css'/>
</head>
<body ontouchstart>
<div class="container" id="container">
    <div class="page home js_show">
        <div class="page__hd">

        </div>
        <div class="page__bd page__bd_spacing">
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">用户名</label></div>
                    <div class="weui-cell__bd">
                        <input name="name" class="weui-input" type="text" placeholder="请输入用户名">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">密码</label></div>
                    <div class="weui-cell__bd">
                        <input name="password" class="weui-input" type="password"  placeholder="请输入密码">
                    </div>
                </div>
            </div>
            <div class="weui-cells page_bd_spaice">
                <button class="weui-btn weui-btn_primary">提交</button>
                <button class="weui-btn weui-btn_primary">提交</button>
            </div>
           <!-- <input type="text" placeholder="请输入电话号码">
            <input type="password" placeholder="请输入密码">
            <input  type="submit" value="提交">
            <input  type="reset" value="重置">-->
        </div>
        <div class="page__ft">
            <!--<a href="javascript:;"><img src="/images/weuiImg/icon_footer.png"></a>-->
        </div>
    </div>
</div>
<script src="/javascritps/vue.js"></script>
<script src="/javascripts/zepto.min.js"></script>
<scritp src="/javascripts/vue-resource.js"></scritp>
<script>
    $(function(){
        $('button').eq(0).on('click', function(){
            $.ajax({
                url: 'http://127.0.0.1:3000/users/sigoup',
                type: 'post',
                data:{
                    name:$('input[name=name]').val(),
                    pwd:$('input[name=password]').val()
                },
                dataType: 'json',
                success:function(data){
                    console.log('success');
                },
                error:function(data){
                    console.log('error');
                }
            });
        })
    })
</script>
</body>
</html>
